<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>


<div>
    <p>title:</p>
    <span><%= @book.title %></span>
</div>

<div>
    <p>body:</p>
    <span><%= @book.body %></span>
</div>
<span><%= link_to "Edit", edit_book_path %></span>
<span><%= link_to "Back", books_path %></span>

